<form method="post" action="{{ path('billing_delete', {'id': billing.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ billing.id) }}">
    <button class="btn">Delete</button>
</form>
