{% extends 'base.html.twig' %}

{% block title %}New Billing{% endblock %}

{% block body %}
    <h1>Create new Billing</h1>

    {{ include('billing/_form.html.twig') }}

    <a href="{{ path('billing_index') }}">back to list</a>
{% endblock %}
